<h1>Listing Employees and Their Cars</h1>

<%= link_to 'New Employee', new_employee_path %> 
<p></p>
<table>
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Cars</th> 
  </tr>
 
  <% @employees.each do |empl| %>
    <tr>
      <td><%= empl.id %></td>
      <td><%= empl.first_name %></td>
      <td><%= empl.last_name %></td>
      <td><%= empl.email %></td>
      <td><%= empl.cars %></td> 
      <td><%= link_to 'Show', employee_path(empl) %></td>
      <td><%= link_to 'Edit', edit_employee_path(empl) %></td>
      <td><%= link_to 'Destroy', employee_path(empl),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
